:root {
  --app-padding-0: 0;
  --app-padding-1: 0.25rem;
  --app-padding-2: 0.5rem;
  --app-padding-3: 0.75rem;
  --app-padding-4: 1rem;
  --app-padding-5: 1.5rem;
  --app-padding-6: 2rem;
  --app-padding-8: 3rem;
  --app-padding-10: 5rem;
}
