:root {
  --app-radius-none: 0;
  
  --app-radius-xs: 0.5rem;   /* 4px */
  --app-radius-sm: 0.75rem;  /* 6px */
  --app-radius-md: 1rem;    /* 8px */
  --app-radius-lg: 2rem;   /* 12px */
  --app-radius-xl: 3rem;      /* 16px */
  --app-radius-2xl: 4rem;   /* 24px */

  --app-radius-full: 9999px;
}
