html,
body,
#app {
  min-height: 100%;
}

:root {
    font-size: var(--app-root-font-size);
}

#app {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--app-color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
