:root {
    --safe-area-top: max(env(safe-area-inset-top, 0px), 10px);
    --safe-area-right: max(env(safe-area-inset-right, 0px), 10px);
    --safe-area-bottom: max(env(safe-area-inset-bottom, 0px), 10px);
    --safe-area-left: max(env(safe-area-inset-left, 0px), 10px);
}

html,
body,
#app {
  min-height: 100%;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
